.header {
  padding: 10px 15px;
  background-color: #3178c6;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.main {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  font-size: 1.1rem;

  /* eslint-disable-next-line css/use-baseline */
  & > * {
    flex: 1;
  }

  @media (width <= 750px) {
    /* eslint-disable-next-line css/no-invalid-at-rules */
    flex-direction: column;
  }
}

.viewer {
  overflow-x: scroll;
  border: 1px solid;
  padding: 5px 10px;
}

.footer {
  padding: 10px;
  font-size: 0.8rem;
  text-align: center;
  border-top: 1px solid #ccc;
}
