/* eslint-disable css/use-baseline */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* User preferences */

input[type='checkbox'],
input[type='radio'] {
  margin: revert;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
  &:hover {
    text-decoration: underline;
    opacity: 0.7;
  }
}

button {
  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
}
